{{define "content"}}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary w-100">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <h6 class="navbar-brand" style="margin-bottom:0px">Overview:</h6>
        <div class="navbar-nav">
          {{ if eq .Name "open"}}
          <a  class="nav-item nav-link active" href="./admin">Open Tickets</a>
          {{ else }}
          <a  class="nav-item nav-link" href="./admin">Open Tickets</a>
          {{ end }}
          {{ if eq .Name "assigned"}}
          <a class="nav-item nav-link active" href="./assigned">Tickets Assigned to me</a>
          {{ else }}
          <a class="nav-item nav-link" href="./assigned">Tickets Assigned to me</a>
          {{ end }}
          {{ if eq .Name "all"}}
          <a class="nav-item nav-link active" href="./all">All Tickets</a>
          {{ else }}
          <a class="nav-item nav-link" href="./all">All Tickets</a>
          {{ end }}
        </div>
      </div>
          <a type="button" class="btn btn-default navbar-btn pull-right" href="./">New Ticket</a>
      </nav>
      <div>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Assigned to</th>
                    <th scope="col">Date</th>
                    <th scope="col">Assign to me</th>
                  </tr>
                </thead>
                <tbody>
                    {{if .Data}}{{ range .Data}}
                    <tr>
                      <td>{{ .ID}}</td>
                      <td>{{ .Subject}}</td>
                      <td>{{ .Processor}}</td>
                      <td>{{ len .Items}}</td>
                      <td>{{ .Processor}}</td>
                    </tr>
                    {{end}}{{end}}
                </tbody>
              </table>
        </div>
{{end}}
