{{define "content"}}
    <h4>Welcome {{ .User }}</h4>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary w-100">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <h6 class="navbar-brand" style="margin-bottom:0px">Overview:</h6>
        <div class="navbar-nav">
          {{ if eq .Path "/open"}}
          <a  class="nav-item nav-link active" href="./open">Open Tickets</a>
          {{ else }}
          <a  class="nav-item nav-link" href="./open">Open Tickets</a>
          {{ end }}
          {{ if eq .Path "/assigned"}}
          <a class="nav-item nav-link active" href="./assigned">Tickets Assigned to me</a>
          {{ else }}
          <a class="nav-item nav-link" href="./assigned">Tickets Assigned to me</a>
          {{ end }}
          {{ if eq .Path "/all"}}
          <a class="nav-item nav-link active" href="./all">All Tickets</a>
          {{ else }}
          <a class="nav-item nav-link" href="./all">All Tickets</a>
          {{ end }}
        </div>
      </div>
          <form action="./user/holiday?user={{ .User }}" method="POST">
            {{$holiday := getHoliday .User }}
            {{ if $holiday }}
            <input type="submit" class="btn btn-secondary" style="float: right; margin-right: 15px;" value="Come back from Holiday!">
            {{ end }}
            {{ if not $holiday}}
            <input type="submit" class="btn btn-secondary" style="float: right; margin-right: 15px;" value="Ab in den Urlaub!">
            {{ end }}
          </form>
          <a type="button" class="btn btn-default navbar-btn pull-right" href="./">New Ticket</a>
      </nav>
      <div>
            <table class="table table-hover">
                <thead>
                  {{template "tickethead" .}}
                </thead>
                <tbody>
                    {{if .Data}}{{ range .Data}}
                    {{template "ticketrow" . }}
                    {{end}}{{end}}
                </tbody>
              </table>
        </div>
{{end}}
