{{define "tickethead"}}
<tr>
  <th scope="col">#</th>
  <th scope="col">Subject</th>
  <th scope="col">Items</th>
  <th scope="col">Creation Date</th>
  <th scope="col">Assign to me</th>
  <th scope="col">Edit</th>
</tr>
{{end}}
{{define "ticketrow"}}
<tr>
    <td>{{ .ID}}</td>
    <td>{{ .Subject}}</td>
    <td>{{ len .Items}}</td>
    <td>{{ .GetFirstEntryOfTicket.CreationDate.Format "02 Jan 2006  15:04"}}</td>
    <td>
      <a type="button" class="btn btn-primary navbar-btn pull-right" href="./assign?ticket={{.ID}}&user={{getUser}}">Assign To Me</a>
    </td>
    <td>
        <a type="button" class="btn btn-primary navbar-btn pull-right" href="./edit?ticket={{.ID}}">Edit</a>
    </td>
  </tr>
{{end}}