{{define "tickethead"}}
<tr>
  <th scope="col">#</th>
  <th scope="col">Subject</th>
  <th scope="col">Processor</th>
  <th scope="col">State</th>
  <th scope="col">Creation Date</th>
  <th scope="col">Items</th>
  <th scope="col">Last Modified</th>
  <th scope="col">Edit</th>
</tr>
{{end}}
{{define "ticketrow"}}
<tr>
    <td>{{ .ID}}</td>
    <td>{{ .Subject}}</td>
    <td>{{ .Processor}}</td>

    {{if eq .TicketState 2}}
    <td class="table-success">Closed</td>
    {{end}}
    {{if eq .TicketState 1}}
    <td class="table-warning">In Progress</td>
    {{end}}
    {{if eq .TicketState 0}}
    <td>Open</td>
    {{end}}
    <td>{{ .GetFirstEntryOfTicket.CreationDate.Format "02 Jan 2006  15:04"}}</td>
    <td>{{ len .Items}}</td>
    <td>{{ .GetLastEntryOfTicket.CreationDate.Format "02 Jan 2006  15:04"}}</td>
    <td>
        <a type="button" class="btn btn-default navbar-btn pull-right" href="./edit?ticket={{.ID}}">Edit</a>
    </td>
  </tr>
{{end}}